body{
display: flex;
flex-direction: row;
margin: 0;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(2, 61, 84);
    width: 100vw;   
    height: 100vh;  
 }

.top{
    border: 2px solid red;
    display: flex;
    width: 50%;
    height: 3em;
    margin-top: 10px;
    
}

#search{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: whitesmoke;
    border-radius: 8px;
    color: black;
    
}

#searchBtn{
    border-radius: 8px;
    background-color: whitesmoke;
    
}

#status{
    color: white;
}

#location{
    color: white;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 2em;
    font-size: 2rem;
}

.tempDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 1em;
}


.currentTempBox{
    background-color: rgb(2, 81, 104);
    height: 20em;
    width: 40em;
    border-radius: 20px;
    color: white;
    display: grid;
    gap: 10px;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "item1 item2" 
    "item3 item4"
    ;
}

#temperature{
    grid-area: item1;
    display: flex;
    border: 1px solid rgb(2, 61, 84);
    border-radius: 8px;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#high-low{  
    grid-area: item3;
    display: flex;
    border: 1px solid rgb(2, 61, 84);
    border-radius: 8px;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#desc{
    grid-area: item2;
    display: flex;
    border: 1px solid rgb(2, 61, 84);
    border-radius: 8px;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
}

#otherinfo{
   grid-area: item4;
   display: flex;
}

#forecast12{
    display: flex;
    border-radius: 20px;
    width: 70%;
    height: 3em;
    background-color: rgb(2, 81, 104);
}



.islands{
    height: 20em;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.island{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    gap: 20px;
    background-color: rgb(2, 81, 104);
    height: 15rem;
    width: 10rem;
    border-radius: 20px;
    color: white;
}

.island i{
    font-size: 1.9em;
}

